.dashboard .before-dashboard {
  margin-bottom: 24px;

  &__banner {
    & h4 {
      margin: 0;
    }
  }

  &__instructions {
    list-style: decimal;
    margin-bottom: 8px;

    & li {
      width: 100%;
    }
  }

  & a:hover {
    opacity: 0.85;
  }
}
